
header nav div .navbar-brand{ 
    color: beige !important;
}

.jumbotron {
    background: rgb(7, 42, 84)
}

.btn-plan {
    border-color: white;
    color: #ffffff;
}

.btn-plan:hover {
    color: white !important;
}


.vertical-icon__img {
    width: 100%;
    height: 240px;
}

#grid{

    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,200px);
    grid-template-areas: "uno dos"

                          "tres cuatro"

                          "cinco seis";

}